header { 
	background-color: white; 
	
	border-width: 5px;
	border-color: green;
	border-style: double;
	padding: 20px;
	border-radius: 25px;
	
	/* fixed sizing 
	margin-left: 300px;
	margin-right: 300px;*/

	/* percentage sizing */
	/*margin-left: 25%;*/


}

li { 
	list-style-type: none;
	list-style-image: url('icon.png');
	
   
 }
h1 { display: inline; }
body { 
	background-image: url('bg.png');



	 }
html { padding: 0px; margin: 0px; }
/* BOX MODEL */
